/* Global styles */
body, html {
    height: 100%;
    margin: 0;
    font-family: "Montserrat", sans-serif; 
    background-image: url('../background.jpg'); /* Adjust the path as necessary */
    background-size: cover;
}

/* Centered login container */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    width: 350px; 
    padding: 30px; 
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
    border-radius: 10px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
    text-align: center; /* Center the text inside the box */
}

/* Title style */
#title {
    font-size: 1.8rem; /* Increased for consistency with h1 */
    color: #4A90E2;
    margin-bottom: 20px;
}

/* Label and error text */
#labels, .error-text {
    color: #333;
    font-size: 0.9rem;
}

/* Input styling */
.input {
    width: 100%;
    padding: 10px; /* Increased padding for consistency */
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #ddd; /* Adjusted border style */
}

/* Main button styling */
.button, .signup-button {
    width: 100%;
    padding: 10px;
    background-color: #50E3C2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

/* Link styling */
.forgot-password-link {
    margin-top: 0.5rem; /* Space above the link */
    font-size: 0.875rem; /* Consistent with register link */
    color: #4A90E2; 
}

/* Social login buttons */
.social-login {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.social-button {
    padding: 10px;
    width: 45%;
    border-radius: 4px;
    color: #fff;
    border: none;
    cursor: pointer;
}

.google-button {
    background-color: red;
}

.facebook-button {
    background-color: #1877F2;
}
